Avery.LabelManager/.vs/
Avery.LabelManager/Avery.LabelManager/Avery.LabelManager/bin/
Avery.LabelManager/Avery.LabelManager/Avery.LabelManager/obj/
Avery.LabelManager/Avery.LabelManager/DAL/bin/
Avery.LabelManager/Avery.LabelManager/DAL/obj/
